# Python
.venv/
__pycache__/
*.pyc
*.db

# Node
node_modules/
dist/

# Next.js
.next/

# Prisma
prisma/dev.db

# Secrets Kubernetes
k8s/secrets.yaml

# Fichiers .env réels 
.env
.env.*.local
.env.production
.env.staging

# Ne pas ignorer les fichiers exemple
!.env.example
!**/.env.example